# Precompiled Web and Build Artifacts
PrecompiledWeb/
bin/
obj/
App_Data/
Uploads/
*.user
*.aps
*.pch
*.vspscc
*.vssscc
_ChitChat*
*.ap_
*.bak
*.log

# Visual Studio 
.vs/

# NuGet 
packages/

# Angular
node_modules/
dist/
.angular/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini